<h1>Proposal</h1>

<p>
  <b>Proposal name</b><br>
  <%= @proposal.proposal_name %>
</p>

<p>
  <b>Description</b><br>
  <%= @proposal.description %>
</p>

<div class="form-actions">
  <%= link_to 'Back', proposals_path, :class => 'btn'  %>
</div>
